.chat{
  display: flex;
  flex-direction: column;
  min-width: 650px;
  min-height: 700px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;

  .content{
    flex-grow: 12;
    padding: 12px;
  }

  .action{
    display: flex;
    max-height: 70px;
    padding: 12px;
    background: #F5EEEA;
    box-sizing: border-box;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .message{
      flex-grow: 12;
      margin-right: 12px;
      font-size: 14px;
      resize: none;
      border-radius: 8px;
      border-color: #E6D5CA;
      outline: none;
    }

    .send{
      flex-grow: 1;
      background-color: #B07957;
      border-color: transparent;
      border-radius: 100px;
      padding: 6px 16px;
      color: #FFFFFF;
      cursor: pointer;
      outline: none;

      &:disabled{
        opacity: 0.3;
        cursor: none;
        pointer-events: none;
      }
    }
  }
}