.wrapper{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 650px;
  height: 700px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}